backend/.env
backend/dist/
backend/node_modules/
backend/package-lock.json
domain/dist/
domain/node_modules/
domain/package-lock.json
domain-tests/dist/
domain-tests/node_modules/
domain-tests/package-lock.json
frontend/.env
frontend/.env.production
frontend/dist/
frontend/node_modules/
frontend/package-lock.json
